<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-12">
            <h1><strong>Open Weather Data of Europe Cities</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 city-tile" *ngFor="let entry of entries" (click)="goto(entry)">
            <div class="tile purple">
                <h3 class="title">{{entry.name}} Meter/Sec</h3>
                <p>Temperature: {{entry.main.temp}} Kelvin</p>
                <p>Wind Strength: {{entry.wind.speed}}</p>
            </div>
        </div>
    </div>
</div>