<div class="container">
    <div class="row">
        <div class="col-md-12 weather-data-heading">
            <h2>Open Weather Data of {{cityName}} for next 5 days</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm border">
            <h4>Date/Time</h4>
        </div>
        <div class="col-sm border">
            <h4>Sea Level</h4>
        </div>
        <div class="col-sm border">
            <h4>Temperature</h4>
        </div>
    </div>
    <div class="row" *ngFor="let entry of cityData">
        <div class="col-sm border">
            {{formatDate(entry.dt)}}
        </div>
        <div class="col-sm border">
            {{entry.main.sea_level}}
        </div>
        <div class="col-sm border">
            {{entry.main.temp}}
        </div>
    </div>
    <div class="col-sm footer-btns">
        <button type="button" class="btn btn-primary" (click)="goToList()">Go to List</button>
    </div>
</div>